<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="m-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col">
                <a href="{% url 'gallery' %}" class="btn btn-dark my-3"> Go back</a>
                <div style="height:90vh;">
                <img style="max-width: 100%; max-height: 100%;"
                src="{{ photo.image.url}}" class="card-img-top" alt="ooty">
                
                <p>
                    Category : {{photo.category.name}}
                </p>
                <p>
                   About : {{photo.description}}
                </p>
            </div>

            </div>
        </div>
    </div>
</body>
</html>